
#main_container
{
	width:100%;
	padding:0.5%;
	font-size: 14px;
}

.basic
{
	display:inline-block;
	float:left;
	box-sizing: border-box;
}

#ref_container
{
	border: 2px solid #999;
}

.section_title
{
	background: #a7a6a6;
	color:white;
	font-weight: bold;
	width:100%;
	padding: 10px 10px 10px 10px;
	font-size: 12px;
	margin-bottom:0px;
}

.info_container
{
	width:30%;
	margin: 0 0.5% 0 0;
}

.info_box
{
	width: 100%;
	border: 2px solid #a7a6a6;
	border-top: none;
	padding: 5px 5px 5px 5px;
}

.info_row
{
	width:100%;
	font-size:11px;
	margin: 2px 4px;
	font-weight: bold;
}

.info_label
{
	font-weight: bold;
	color: #555;
	width:30%;
}

.info_value
{
	width:70%;
}
.info_text
{
	color: #999;
}

#data_table
{
	width:100%;
	margin-top:20px;
	border-top:1px solid black;
	border_left:1px solid black;
	font-family:'Open Sans',sans-serif;
}
.table_row
{
	width:100%;
	border-bottom:1px solid black;
	border-left:1px solid black;
	font-size: 12px;
}
.table_header_row
{
	font-weight: bold;
	font-size: 10px;
}
.table_cell
{
	border-right: 1px solid black;
	padding:4px 0 4px 0;
	text-align: center;
	text-wrap: no-wrap;
}

.footer_cell
{
	display:inline-block;
	float: left;
	font-size:9px;
}
